<!DOCTYPE html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
 <link rel="stylesheet" href="css/reset.css">
 <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="css/font-awesome.min.css">
 <title>My game Starcraft 2</title>
</head>
<body>
 <div class="main">

  <div class="app" v-show="showMain">
   <div class="app__header">
    <img src="img/logo.png" alt="логотип игры" class="app__logo">
   </div>
   <div class="app__body">
    <button class="app__btn" @click="goToQuestions">
     <i class="fa fa-ravelry" aria-hidden="true"></i>
     <div class="app__btn-text">Начать</div>
    </button>
    <button class="app__btn" @click="goToAchivments">
     <i class="fa fa-hand-peace-o" aria-hidden="true"></i>
     <div class="app__btn-text">Достижения</div>
    </button>
    <button class="app__btn" @click="goToSocial">
     <i class="fa fa-user-circle-o" aria-hidden="true"></i>
     <div class="app__btn-text">Автор</div>
    </button>
    <button class="app__btn btn__sound">
     <i class="fa fa-volume-off" aria-hidden="true"></i>
     <div class="app__btn-text">Звук</div>
    </button>
   </div>
  </div>
  <!-- страница результатов -->
   <div class="app achivments" v-show="showAchivment">
    <div class="app__body">
     <div class="app__body-inner">
      <h2 class="app__body-title">
       <i class="fa fa-trophy" aria-hidden="true">Достижения</i>
      </h2>
      <div class="app__body-top">
       <div class="app__card">
        <div class="app__card-text">Счет</div>
        <div class="app__card-count">{{ totalScore }}</div>
       </div>
       <div class="app__card">
        <div class="app__card-text">Открыто рас</div>
        <div class="app__card-count">{{ openRaces }}</div>
       </div>
       <div class="app__card">
        <div class="app__card-text">Всего игр</div>
        <div class="app__card-count">{{ totalGames }}</div>
       </div>
       <div class="app__card">
        <div class="app__card-text">Любимая раса</div>
        <div class="app__card-count">{{ favoriteRace }}</div>
       </div>
      </div>
      <div class="app__body-middle">
        <!-- информация о конкретной расе -->
       <div class="app__result"
            v-for="(race, k) in results"
            v-show="showResultRace[k]"
            @click="goToResults(k)">
        <div class="app__result-score">
         <i class="fa fa-star" aria-hidden="true"></i>
         <div class="app__result-count">{{ race.points }}</div>
        </div>
        <div class="app__result-name">{{ race.name }}</div>
        <div class="app__result-amount">{{ totalGame[k] }}</div>
       </div>
      </div>
      <div class="app__body-bottom">
       <button class="app__btn btn__back btn__achivment" @click="goToMain">
        <i class="fa fa-reply" aria-hidden="true"></i>
       </button>
      </div>
     </div>
    </div>
   </div>

   <div class="app" v-show="showQuestions">
    <div class="app__header">
     <div class="app__header-inner">
     <div class="app__count"># {{ number+1 }} </div>
     <div class="app__text">{{ questions[number][0] }}</div>
     </div>
    </div>
    <div class="app__body">
     <button class="app__btn"
              v-for="(answer, i) in questions[number][1]"
              @click="nextQuestions(questions[number][2][i])">
      <div class="app__btn-text">{{ answer }}</div>
     </button>
    </div>
   </div>

   <div class="app" v-show="showSocial">
    <div class="app__body">
     <a target="_blank" href="https://www.ebay.com" class="app__btn">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <div class="app__btn-text">Инстаграмм</div>
     </a>
     <a target="_blank" href="https://www.ebay.com" class="app__btn">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <div class="app__btn-text">Твитер</div>
     </a>
     <a target="_blank" href="https://www.ebay.com" class="app__btn">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <div class="app__btn-text">Фейсбук</div>
     </a>
     <a target="_blank" href="https://www.ebay.com" class="app__btn">
      <i class="fa fa-vk" aria-hidden="true"></i>
      <div class="app__btn-text">Вконтакте</div>
     </a>
     <a target="_blank" href="https://www.ebay.com" class="app__btn">
      <i class="fa fa-youtube-play" aria-hidden="true"></i>
      <div class="app__btn-text">Ютуб</div>
     </a>
     <button class="app__btn btn__back" @click="goToMain">
      <i class="fa fa-reply" aria-hidden="true"></i>
     </button>
    </div>
   </div>

   <div class="app results" :data-race="resultRace" v-show="showResult">
    <div class="app__body">
     <div class="app__results-inner">
      <div class="results__title">{{ results[resultRace].name }}</div>
      <div class="result__img">
       <img :src="`img/${resultRace}_logo.png`" alt="логотип расы">
      </div>
      <div class="result__text-box">
       <p class="result__text">{{ results[resultRace].description }}</p>
       <p class="result__quote">{{ results[resultRace].quote1 }}</p>
       <p class="result__quote">{{ results[resultRace].quote2 }}</p>
       <p class="result__author">{{ results[resultRace].author }}</p>
      </div>
      <div>
       <button :class="`app__btn btn__back btn__${resultRace}`" @click="goToAchivments">
        <i class="fa fa-reply" aria-hidden="true"></i>
       </button> 
      </div>
     </div>
    </div>
   </div>

 </div>

 <script src="js/vue.js"></script>
 <script src="js/const.js"></script>
 <script src="js/main.js"></script>
 <script>
  
 </script>
</body>
</html>